README.md
CHANGELOG.md
docker-compose.yaml

.git
.gitignore
.dvc
.idea
.vscode
.DS_Store

venv/
env/
build/
dist/
.ipynb_checkpoints/
target/
.tox/
__pycache__/
.pytest_cache/
.hypothesis/
*.log

/data
/notebooks
/out
